@using System
@using System.Collections

@{
    ViewBag.Title = "About";

    IDictionary environmentVariables = Environment.GetEnvironmentVariables();
}

<div class="envs">
    <dl>
@foreach (var entry in environmentVariables)
{
      <span>
        <dt>@entry.Key</dt>
        <dd>@entry.Value</dd>
      </span>
}
    </dl>
</div>


