@{
    ViewBag.Title = "Goodbye";
}

<div class="goodbye">
    <!--
    <img src="spring-by-pivotal.png"/>
    -->
    <img src="http://demoimages.cfapps.io/microsoft_logo.png" height="46" width="216" />
</div>
<div class="my-index-goodbye">Shutting down index</div>
<div class="index-goodbye">@ViewBag.Index</div>
<div class="mid-color-goodbye"></div>
<div class="bottom-color-goodbye"></div>