@{
    ViewBag.Title = "Home Page";
}

<div class="hello">
    <!--<img src="~/Content/microsoft.png" height="46" width="216" />-->
    <img src="http://demoimages.cfapps.io/microsoft_logo.png" height="46" width="216" />
</div>

<div class="my-index">My Index Is</div>

<div class="index">@ViewBag.Index</div>
<div class="mid-color">Uptime: @ViewBag.Uptime</div>
<div class="bottom-color"></div>
